<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiQuiz</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <header class="header">
        <a href="/" class="logo">✦ LiQuiziz</a>
        <div class="header-list">
            <a href="/" class="nav-element">Main</a>
            <a href="#" class="nav-element">LeaderBoard</a>
            <a href="#" class="nav-element">Log in</a>
        </div>
    </header>
    <section class="categories">
        <h1 >Correct answers: <span id="correct"></span></h1>
        <h1 >Wrong answers: <span id="wrong"></span></h1>
        <h1>Total answers: <span id="total"></span></h1>
    </section>
    <footer>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero sunt laboriosam voluptatem ea voluptas, repellendus labore vel quia vitae! Tempora ea aspernatur laboriosam vitae possimus soluta eum ipsa quam beatae?</p>
    </footer>
<script src="/static/finish.js"></script>
</body>
</html>